.App {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

textarea {
  border: 1px solid #e7e7e7;
}

.keyboard-container {
  min-width: 1000px
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.key {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.key:hover {background-color: #e7e7e7;}